@xs: ~"only screen and (min-width:480px)";
@sm: ~"only screen and (min-width:768px)";
@md: ~"only screen and (min-width:996px)";
@lg: ~"only screen and (min-width:1200px)";
@xl: ~"only screen and (min-width:1600px)";

@strict-xs: ~"(min-width:320px) and (max-width:767px)";
@strict-sm: ~"(min-width:768px) and (max-width:995px)";
@strict-md: ~"(min-width:996px) and (max-width:1199px)";
@strict-lg: ~"(min-width:1200px) and (max-width:1599px)";

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Verdana, sans-serif;
    font-size: 16px;
    text-rendering: geometricPrecision;
}

header {
    display: flex;
    position: relative;
    justify-content: center;

    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 64px;
        color: #333;
    }
}

.game {
  max-width: 500px;
  margin: 0 auto;
}

.body {
  display: flex;
}

.help {
  color: #666;
  margin: 10px;
  text-align: center;
}

.left {
  text-align: center;
  width: 50%;
  border: thin solid #ddd;
}

.right {
  text-align: center;
  padding: 10px;
  width: 50%;
  border: thin solid #ddd;
}

.star {
	display: inline-block;
  margin: 0 15px;
  
  &:after {
    content: "\2605";
    font-size: 45px;
  }
}

.btn-number {
  background-color: #eee;
  border: thin solid #ddd;
  width: 45px;
  height: 45px;
  margin: 10px;
  font-size: 25px;

  &:focus,
  &:active {
    outline: none;
    border: thin solid #ddd;
  }
}

.timer {
	color: #666;
  margin-top: 3px;
  margin-left: 3px;
}

.game-done .message {
  font-size: 250%;
  font-weight: bold;
  margin: 15px;
}